{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <a href="{{ path('app_user_block_list') }}">Blocked List</a>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">

        {% for user in users %}
        {% if user.blocked == '0' %}
        <div class="mx-auto my-4">
            <div class="card" style="width: 18rem;">
            <img src="{{ user.photo }}" class="card-img-top" alt="Picture">
            <div class="card-body">
            <h5 class="card-title">User Id : {{ user.id }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name: {{ user.firstName }}</li>
                <li class="list-group-item">User Name: {{ user.lastName }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Role: {{ user.roles ? user.roles|json_encode : '' }}</li>
                <li class="list-group-item">Password: {{ user.password }}</li>
                <li class="list-group-item">Phone: {{ user.phoneNumber }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                <a href="{{ path('app_user_block', {'id': user.id}) }}">block</a>
            </div>
        </div>
    </div>

            
            {% endif %}
        {% else %}
            <h2>No Records Found</h2>
        {% endfor %}
    </div>

    {# <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
