{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>User</h1>

   <div class="mx-auto my-4">
            <div class="card" style="width: 18rem;">
            <img src="{{ user.photo }}" class="card-img-top" alt="Picture">
            <div class="card-body">
            <h5 class="card-title">User Id : {{ user.id }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name: {{ user.firstName }}</li>
                <li class="list-group-item">User Name: {{ user.lastName }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Role: {{ user.roles ? user.roles|json_encode : '' }}</li>
                <li class="list-group-item">Password: {{ user.password }}</li>
                <li class="list-group-item">Phone: {{ user.phoneNumber }}</li>
            </ul>
        </div>
    </div>

    {% if user.blocked == '1' %}
    <a href="{{ path('app_user_block_list') }}">back to list</a>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
    {{ include('user/_delete_form.html.twig') }}

    {% elseif user.blocked == '0' %}
    <a href="{{ path('app_user_index') }}">back to list</a>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
    {{ include('user/_delete_form.html.twig') }}

    {% endif %}
    
    {# <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
