{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    <form method="post">
        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
