{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
    <h1>Recipe Index</h1>

    <div class="recipe-container">
        {% for recipe in recipes %}
        {% if recipe.status == '1' %}
            <div class="recipe-card">
                {% if recipe.photo is empty %}
                    <img src="https://placehold.co/400x300/orange/white?text=Delicious+Recipe" alt="{{ recipe.name }}" class="recipe-image">
                {% else %}
                    <img src="{{ recipe.photo }}" alt="{{ recipe.name }}" class="recipe-image" onerror="this.src='https://placehold.co/400x300/orange/white?text=Delicious+Recipe'">
                {% endif %}
                <h2 class="recipe-name">{{ recipe.name }}</h2>
                <p class="recipe-description">{{ recipe.description }}</p>
                <p class="recipe-ingredients">Ingredients: {{ recipe.ingredients }}</p>
                <p class="recipe-cooking-time">Cooking Time: {{ recipe.cookingTime }} minutes</p>
                <p class="recipe-preparation-time">Preparation Time: {{ recipe.preparationTime }} minutes</p>
                <p class="recipe-calories">Calories: {{ recipe.calories }}</p>
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="recipe-link">View Recipe</a>
                
                {% if is_granted("ROLE_ADMIN") or userId == recipe.author.id %}
                    <div class="recipe-actions">
                        <a href="{{ path('admin_app_recipe_edit', {'id': recipe.id}) }}" class="edit-link">Edit</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>

    <div class="create-recipe">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_app_recipe_new') }}" class="create-link">Create New Recipe</a>
        {% else %}
            <a href="{{ path('app_recipe_new') }}" class="create-link">Create New Recipe</a>
        {% endif %}
    </div>
{% endblock %}
