{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}

<div class="recipe-container">
    <h1 class="text-center">Recipes</h1>
    {% for recipe in recipes %}
    {% if recipe.status == '1' %}
    <div class="container">
                <div class="card">
                    <div class="imgBx">
                            <img src="{{ asset('pictures/' ~ recipe.photo ) }}" alt="{{ recipe.name }}">
                    </div>
                    <div class="contentBx">
                        <h2>{{ recipe.name }}</h2>
                        <div class="size">
                            <h3>Calories:</h3>
                            <span>{{ recipe.calories }}</span>
                        </div>
                        <div class="color">
                            <h3>Cook Time:</h3>
                            <span>{{ recipe.cookingTime }}m</span>
                        </div>
                        <a class="btn btn-primary" href="{{ path('admin_app_recipe_show', {'id': recipe.id}) }}">View Recipe</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% else %}
            <p class="no-records">No records found</p>
        {% endfor %}
    </div>

    <div class="create-recipe">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_app_recipe_new') }}" class="btn btn-primary">Create New Recipe</a>
        {% else %}
            <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">Create New Recipe</a>
        {% endif %}
    </div>
{% endblock %}
