{% extends 'base.html.twig' %}

{% block title %}Pending{% endblock %}

{% block body %}
    <h1>Pending</h1>

    <table class="table">
        <thead>
            
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Cooking_time</th>
                <th>Preparation_time</th>
                <th>Calories</th>
                <th>Link</th>
                <th>Type</th>
                <th>Date_added</th>
                <th>Date_updated</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        
            
        {% for recipe in recipes %}
        {% if recipe.status == '0' %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.photo }}</td>
                <td>{{ recipe.cookingTime }}</td>
                <td>{{ recipe.preparationTime }}</td>
                <td>{{ recipe.calories }}</td>
                <td>{{ recipe.link }}</td>
                <td>{{ recipe.type }}</td>
                <td>{{ recipe.dateAdded ? recipe.dateAdded|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.dateUpdated ? recipe.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_recipe_show', {'id': recipe.id}) }}">Details</a>
                    <a class="btn btn-success" href="{{ path('admin_app_approve', {'id': recipe.id}) }}">Approve</a>
                    {{ include('recipe/_delete_form.html.twig') }}
                </td>
            </tr>
            {% elseif recipe.status == null %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
            {% endif %}
        {% endfor %}
        
        </tbody>
    </table>
{% endblock %}