{% extends 'base.html.twig' %}

{% block title %}New MealPlanner{% endblock %}

{% block body %}
    <h1>Create new MealPlanner</h1>
    {{ form_start(form) }}
    {{ form_row(form.chosen_date, {'chosen_date': 'chosen_date'}) }}
    <select multiple name="{{ field_name(form.meal_chosen) }}" class="form-control">
        <option value="">{{ field_label(form.meal_chosen) }}</option>
    
        {% for label, value in approvedRecipes %}
      
        <option value="{{ value.name }}">{{ value.name }}</option>
        
           
        {% endfor %}
    </select>

 
   
    <button class="btn">{{ button_label|default('Save') }}</button>

    {# {{ include('meal_planner/_form.html.twig') }} #}
    
   
    {{ form_end(form) }}
    <a href="{{ path('app_meal_planner_index') }}">back to list</a>
    
{% endblock %}
