{% extends 'base.html.twig' %}

{% block title %}MealPlanner{% endblock %}

{% block body %}
    <h1>MealPlanner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Meals</th>
                <td>{% for item in  meal_planner.getMealChosen %}
                    <p>
                        <a href="{{ path('app_recipe_show', {'id': item.id}) }}">
                            {{ item.getName }}
                        </a>
                    </p> {# get the name from recipe (manytomany) array#}
                {% endfor %}             
            </td>
            <tr>
                <th>Chosen_date</th>
                <td>{{ meal_planner.chosenDate ? meal_planner.chosenDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meal_planner_index') }}">back to list</a>

    <a href="{{ path('app_meal_planner_edit', {'id': meal_planner.id}) }}">edit</a>

    {{ include('meal_planner/_delete_form.html.twig') }}
{% endblock %}
